/** WordPress 3.8 Fix **/
.form-table th {
	padding: 20px 10px;
}

#wpbody-content .metabox-holder {
	padding-top: 5px;
}

.chosen-container-single, .chosen-container-multi {
	min-width: 244px !important;
}

#poststuff h2.nav-tab-wrapper {
	margin-bottom: 0px !important;
	padding-bottom: 0px;;
}

.nav-tab-active, .nav-tab-active:hover {
	background: #fff !important;
}

.nav-tab-active, .nav-tab-active:focus, .nav-tab-active:focus:active, .nav-tab-active:hover, .postbox {
	border-top: 2px solid #0085ba;
}

h3.setting_heading_title, h4.setting_heading_subtitle {
	background: url('../images/heading-img.png') center center repeat-x;
	margin-top: 0px;
}

.multicheck_fields{

}

.multicheck_fields .multicheck_field{}
.multicheck_fields .multicheck_field label{
	margin-top: 0px !important;
}
.multicheck_fields .multicheck_field .multicheck_field_handle{
	margin-right: 20px;
	cursor: pointer;
}
.multicheck_fields .multicheck_field_placeholder{
	outline: 1px dashed #000;
	height: 30px;
}

.select2-container{
	width: 100% !important;
}
/*end of setting core*/


.one_col_field_title{
	margin-bottom: 10px !important;
	font-weight: bold;
}
.weekdays_day{
	clear: both;
	margin-bottom: 5px;
}
.weekdays_day_label{
	float: left;
	display: inline-block;
	text-align: left;
	width: 120px;

}
.weekdays_day_fields {
	float: left;
	display: inline-block;
	text-align: left;

}
.weekdays_day_fields .regular-text {
	float: left;
	display: inline-block;
	max-width: 120px;
}
.weekdays_day_message{
	clear: both;
	width: 100%;
}
.weekdays_day_fields  .weekdays_day_message .regular-text{
	width: 100%;
	max-width: 100%;
}

.cbxbusinesshours_demo_copy{
	width: 100% !important;
}
.regular-text.cbxbusinesshours_demo_copy{}

.cbxbusinesshours_demo_copy .description{
	width: 100% !important;
	display: block;
	margin-left: 0px;
}

.shortcode_demo_copy{
	text-align: right;
	margin-bottom: -10px !important;
	z-index: 1;

}
.shortcode_demo_btn{
	background: #fff;
	color: #000;
	border: 1px solid #2196f3;
	border-radius: 5px;
	font-size: 14px;
	line-height: 1.3;
	padding: 3px 10px;
	text-decoration: none;
	float: right;
}

.shortcode_demo_btn:hover,
.shortcode_demo_btn:focus{
	color: #2196f3;
	box-shadow: none;
	outline: none;
}

.shortcode_demo_btn.copy_success{
	background: #5eba7d;
	border: 1px solid #5eba7d;
	color: #fff;
}

.shortcode_demo_btn.copy_fail{
	background:  #2196f3;
	color: #fff;
}

.shortcode_demo_wrap{
	margin-top: 30px;
	clear: both;
}